<section class="favorites">
  <div class="container">
    <h2 class="title-favorites">Some of Our Favorites</h2>
    <p class="text-favorites">Looking for something delicious?</p>
    <ul class="favorites-list">
      <li class="favorites-item list">
        <a href="#" class="link link-favorites"
          ><img
            srcset="
              ../img/mobile-gamburger.png 224w,
              ../img/tablet-gamburger.png 268w,
              ../img/gamburger.png        315w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 320px) 224px"
            src="./img/gamburger.png"
            alt="gamburger"
            width="224"
            height="224"
        /></a>
      </li>
      <li class="favorites-item list">
        <a href="#" class="link link-favorites"
          ><img src="./img/pasta.png" alt="pasta" width="315" height="315"
        /></a>
      </li>
      <li class="favorites-item list">
        <a href="#" class="link link-favorites"
          ><img src="./img/pizza.png" alt="pizza" width="315" height="315"
        /></a>
      </li>
      <li class="favorites-item list">
        <a href="#" class="link link-favorites"
          ><img src="./img/chicken.png" alt="chicken" width="315" height="315"
        /></a>
      </li>
      <li class="favorites-item list">
        <a href="#" class="link link-favorites"
          ><img src="./img/salat.png" alt="salat" width="315" height="315"
        /></a>
      </li>
      <li class="favorites-item list">
        <a href="#" class="link link-favorites"
          ><img src="./img/borshch.png" alt="borshch" width="315" height="315"
        /></a>
      </li>
    </ul>
  </div>
</section>
