<!-- subscribe -->
<div class="container-sub">
 <h2 class="sub-text">Subscribe To Get Special Offers</h2>
 
    <p class="sub-parag">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim 
in eros elementum tristique.
    </p>
  </div>
  <div class="subscribe">
    <p class="subscribe-label-text">Subscribe</p>
    <form class="subscribe-form">
      <label class="subscribe-form-label">
        <input
          type="email"
          class="subscribe-form-input"
          name="email"
          placeholder="E-mail"
          required
        />
      </label>
      <button class="subscribe-btn" type="submit">
        Subscribe
      </button>
    </form>
  </div>
</div>
