.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
  }
}
.nav-list {
  display: flex;
  gap: 28px;
}
.nav-link {
  padding: 28px 0;
  display: block;
  color: var(--Black, #2c2c2c);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-link:hover,
.nav-link:focus {
  color: #bbf330;
  text-decoration-line: underline;
}
.header-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: block;
    color: var(--Black, #2c2c2c);
    text-align: right;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 19.5px */
    border-radius: 30px;
    background-color: var(--Button-green, #bbf330);
    padding: 6px 18px;
    width: 98px;
    height: 32px;
    border: none;
    cursor: pointer;
  }
}
.header-btn:hover,
.header-btn:focus {
  background-color: #ffe450;
}
