.hero-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  padding-top: 14px;
}

.hero-container {
  display: flex;
}

.hero-section__content-wrapper {
  display: flex;
}

.hero-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 28px;
  margin-bottom: 28px;
}

.hero-description {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.43;
}

.hero-btn {
  cursor: pointer;
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  padding: 6px 18px;
  border-radius: 30px;
  background: #bbf330;
  border: 2px solid #bbf330;
  transition: background 250ms ease;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #ffffff;
}

.hero-section__img-wrapper {
  display: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  width: 608px;
  width: 608px;
}

.arrow-next,
.arrow-previous {
  position: absolute;
  cursor: pointer;
  top: 50%;
  fill: #fefefe;
}

.arrow-previous {
  left: 0;
}

.arrow-next {
  right: 0;
}

.arrow-next path,
.arrow-previous path {
  fill: #2c2c2c;
}

.arrow-next:hover path,
.arrow-previous:hover path {
  fill: #7eb101;
}

.hero-section__img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 580px;
  max-height: 580px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 26px solid #ffe550;
  background: #fefefe;
}

.hero-image {
  display: none;
}

.hero-image1 {
  display: block;
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 768px) {
  .hero-section__content-wrapper {
    max-width: 50%;
  }
  .hero-section__content {
    width: 85%;
  }

  .hero-title {
    font-size: 42px;
    line-height: 1.2;
  }

  .hero-descriptio {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .hero-section__img-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 48px;
  }
}
